#Throughout the exercises for Regression in Python #lessons, you will use the following example scenario: 
# As a customer analyst, I want to know who has spent the most money with us over their lifetime. I have monthly charges and tenure, 
# so I think I will be able to use those two attributes as features to estimate total_charges. I need to do this within an average of $5.00 per customer.

#The first step will be to acquire and prep the data. Do your work for this exercise in a file named wrangle.py

# 1.) Acquire customer_id, monthly_charges, tenure, and total_charges from telco_churn database for all customers with a 2 year contract.

In [12]:
import pandas as pd
import numpy as np

from env import get_url

url = get_url("telco_churn")

query = """
SELECT customer_id, monthly_charges, tenure, total_charges
FROM customers
WHERE contract_type_id = 3;
"""
df = pd.read_sql(query, url)

# 2.) Walk through the steps above using your new dataframe. You may handle the missing values however you feel is appropriate.

In [13]:
import pandas as pd
import numpy as np

url = get_url("telco_churn")
query = """
SELECT customer_id, monthly_charges, tenure, total_charges
FROM customers
WHERE contract_type_id = 3;
"""
df = pd.read_sql(query, url)
df["total_charges"].replace(r'^\s*$', np.nan, regex=True, inplace=True)
df['total_charges'] = df.total_charges.dropna().astype('float')

# 3.) End with a python file wrangle.py that contains the function, wrangle_telco(), that will acquire the data and return a dataframe cleaned with no missing values.

In [15]:
import pandas as pd
import numpy as np
from env import get_url

def wrangle_telco():
    url = get_url(telco_churn)
    query = """
    SELECT customer_id, monthly_charges, tenure, total_charges
    FROM customers
    WHERE contract_type_id = 3;"""
    df = pd.read_sql(query, url)
    df["total_charges"].replace(r'^\s*$', np.nan, regex=True, inplace=True)
    df['total_charges'] = df.total_charges.dropna().astype('float')
    return df

In [16]:
df.head()

  customer_id  monthly_charges  tenure  total_charges
0  0013-SMEOE           109.70      71        7904.25
1  0014-BMAQU            84.65      63        5377.80
2  0016-QLJIS            90.45      65        5957.90
3  0017-DINOC            45.20      54        2460.55
4  0017-IUDMW           116.80      72        8456.75