# Exploration
## Tips
Create either a python script or a jupyter notebook named explore_tips that explores the tips data set that is built in to seaborn. Perform at least 1 t-test and 1 chi square test.

You can load the data set like this:

> import seaborn as sns

>sns.load_dataset('tips')

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import scipy.stats as stats

In [2]:
df = sns.load_dataset('tips')

In [3]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

## chi2 test

- $H_0$: gender and wether someone is a smoker or not at this restraurent are indept
- $H_a$: gender and wether someone is a smoker at this restaurant are correlated

In [4]:
contingency_table = pd.crosstab(df.sex, df.smoker)
chi2_test, p, _, expected = stats.chi2_contingency(contingency_table)
alpha = .01 # 1 - .99 confidence level

In [5]:
if p < alpha:
    print("We reject the null hypothesis")
    print("someones gender is not representative of how much they smoke at this restaurant")
else:
    print("We fail to reject the null hypothesis")
    print("Someones gender is representative of how often they smoke")

We fail to reject the null hypothesis
Someones gender is representative of how often they smoke

## T-test

- $H_0$: customers that come in on sunday tip less
- $H_a$: customers that come in on sunday tip the same

In [7]:
sunday_tip = df[df.day == 'Sun'].tip
everyday_tip = df.tip.mean()

alpha = 0.01 # 1 - .99 confidence level

t, p = stats.ttest_ind(sunday_tip, everyday_tip)

/usr/local/anaconda3/lib/python3.7/site-packages/numpy/core/fromnumeric.py:3506: RuntimeWarning: Degrees of freedom <= 0 for slice
  **kwargs)
/usr/local/anaconda3/lib/python3.7/site-packages/numpy/core/_methods.py:209: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

In [8]:
if p < alpha:
    print("We reject the null hypothesis")
else:
    print("We fail to reject the null hypothesis")
    print("Customers on Sunday tip less than customers on other days of the week")

We fail to reject the null hypothesis
Customers on Sunday tip less than customers on other days of the week