# Exploration
## Tips
Create either a python script or a jupyter notebook named explore_tips that explores the tips data set that is built in to seaborn. Perform at least 1 t-test and 1 chi square test.

You can load the data set like this:

> import seaborn as sns

>sns.load_dataset('tips')

In [6]:
import pandas as pd
import numpy as np
import seaborn as sns
import scipy.stats as stats

In [7]:
df = sns.load_dataset('tips')

In [8]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

## chi2 test

- $H_0$: gender and wether someone is a smoker or not at this restraurent are indept
- $H_a$: gender and wether someone is a smoker at this restaurant are correlated

In [11]:
contingency_table = pd.crosstab(df.sex, df.smoker)
chi2_test = stats.chi2_contingency(contingency_table)

In [12]:
_, p, _, expected = chi2_test

In [14]:
p

0.925417020494423

## T-test

- $H_0$: customers that come in on sunday tip less
- $H_a$: customers that come in on sunday tip the same

In [15]:
sunday_tip = df[df.day == 'Sun'].tip
everyday_tip = df.tip.mean()

t_test = stats.ttest_1samp(sunday_tip, everyday_tip)
t_test

Ttest_1sampResult(statistic=1.8132863682799842, pvalue=0.0737884052452269)

We fail to reject the null hypothesis with a p-value of .07%